<%= render "shared/header" %>

<div class="item-show">
  <div class='item-box'>
    <h1 class="profile-title">
      ユーザープロフィール
      <% if user_signed_in? && current_user.id == @user.id %>
        <span class="profile-edit">
          <%= link_to 'プロフィールを編集', edit_user_registration_path, class: "profile-edit-btn" %>
        </span>
      <% end %>
    </h1>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ユーザー名</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">生年月日</th>
          <td class="detail-value"><%= @user.date_of_birth.strftime('%Y年%m月%d日') %></td>
        </tr>
        <tr>
          <th class="detail-item">名前</th>
          <td class="detail-value"><%= @user.last_name %>　<%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="detail-item">振り仮名</th>
          <td class="detail-value"><%= @user.kana_last_name %>　<%= @user.kana_first_name %></td>
        </tr>
      </tbody>
    </table>
    <h1 class="profile-item-title">出品リスト</h1>
    <% if @items.any? %>
      <ul class='item-lists' id='items-list'>
       <%= myitem_lists(@items) %>
      </ul>
    <% else %>
      出品した商品はありません
    <% end %>
    <h1 class="favorite-title">お気に入り</h1>
    <% if @favorite_items.any? %>
      <ul class='item-lists' id='items-list'>
       <%= myitem_lists(@favorite_items) %>
      </ul>
    <% else %>
     お気に入りの商品はありません
    <% end %>
    <h1 class="favorite-title">購入履歴</h1>
    <% if @order_items.any? %>
      <ul class='item-lists' id='items-list'>
        <%= myitem_lists(@order_items) %>
      </ul>
    <% else %>
      購入した商品はありません
    <% end %>
  </div>
</div>


<%= render "shared/footer" %>
